body {
    background: darkgrey;
}

.drag {
    background-color: rosybrown;
}

ul {
    list-style: none;
    padding: 0;
}

h1 {
    font-family: 'Lexend Deca', sans-serif;

}

div.source-videos {
    background-color: white;
    font-family: 'Lexend Deca', sans-serif;
    margin-bottom: 1em;
}

.seed-videos {
    border-bottom: 1px solid black;
}