body {
    background: darkgrey;
}

.drag {
    background-color: rosybrown;
}

ul {
    list-style: none;
    padding: 0;
}

div.source-videos {
    background-color: white;
}

.seed-videos {
    border-bottom: 1px solid black;
}