body {
    background: saddlebrown;
    margin-top: 0;
}

.drag {
    background-color: rosybrown;
}

ul {
    list-style: none;
    padding: 0;
}

h1 {
    font-family: 'Lexend Deca', sans-serif;
    display: inline-block;
}

div.source-videos {
    background-color: white;
    font-family: 'Lexend Deca', sans-serif;
    margin-bottom: 1em;
}

.seed-videos, .download-videos {
    border-bottom: 1px solid teal;
}

.buy-account {
    float: right;
    background-color: black;
    padding: 0.5em 1em;
    a {
        color: red;
    }
}

li.torrent, video {
    width: 30vw;
}